doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="style.css")
        link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(type="module", src="index.js", defer)
        title League of Legends Draft Tool
    body 
        .container
            .ban_main-container
                .ban_container.blue
                    .ban_blue
                        - for (let i = 0; i < 5; i++)
                            .ban_champion-portrait(id=`ban_b${i}`)
                                p.ban_symbol ðŸ›‡
                .ban_center 
                    .ban_stats-container
                        h1#ban_status
                    .button-container
                        button#confirm
                            .background
                            p.start START
                        .button-container_right
                            button#back â‡
                            button#reset â†º
                .ban_container.red
                    .ban_red
                        - for (let i = 0; i < 5; i++)
                            .ban_champion-portrait(id=`ban_r${i}`)
                                p.ban_symbol ðŸ›‡
            .pick_container-main
                .pick_container.blue
                    - for (let i = 0; i < 5; i++)
                        .champion-pick
                            h3 B#{i + 1}
                            .pick_champion-container
                                .pick_champion-background
                                .pick_champion-portrait(id=`pick_b${i}`)
                .champion_container
                    .search-bar_container
                        .search-bar
                            .mag-glass
                                i.fa.fa-search
                            input(type="text", id="search", placeholder="Search")
                    #champion-grid
                .pick_container.red
                    - for (let i = 0; i < 5; i++)
                        .champion-pick
                            .pick_champion-container
                                .pick_champion-background
                                .pick_champion-portrait(id=`pick_r${i}`)
                            h3 R#{i + 1}